html,
body {
  font-family: Inter, Helvetica, sans-serif;
  color: $primary-color;
}

.content-wrapper {
  width: 336px;
  margin: auto;
}

.completed {
  text-decoration: line-through;
  color: $ticked-off;
}

.shadow {
  box-shadow: 0px 9px 15px 14px rgba(0, 0, 0, 1);
}
